*~
tags
*.o
*.la
*.lo
*.a
*.bak
Makefile
configure
Makefile.in
.deps
.libs
/stamp-h1
/ltmain.sh
/libtool
/autom4te.cache
/config.h.in
/config.h
/aclocal.m4
/config.status
/config.log
/config.guess
/config.sub
/depcomp
/compile
/missing
/mkinstalldirs
/install-sh
/oilconfig.h
/oilcore-*uninstalled.pc
/oilcore*.pc
/oilcore/tests/hashtable_test
/oilcore/tests/oilclass_test
/oilfuncs/tests/full
/oilfuncs/tests/simple
/oiltest/tests/testoiltest
/oilfuncs-*uninstalled.pc
/oilfuncs*.pc
/oiltest-*uninstalled.pc
/oiltest*.pc
/oilfuncs/oilfuncs.reg
/oilfuncs/oilfuncs-register-implements.c
/oilfuncs/oilfuncs-slots.h
/oilfuncs/oilfuncs-slots.c
/oilfuncs/oilfuncs-register-classes.c
/oilfuncs/oilfuncs-marshal.c
/oilfuncs/oilfuncs-attach-classes.c
/docs/version.xml
/docs/oilcore/html-build.stamp
/docs/oilcore/html.stamp
/docs/oilcore/html/
/docs/oilcore/oilcore-decl-list.txt
/docs/oilcore/oilcore-decl.txt
/docs/oilcore/oilcore-undeclared.txt
/docs/oilcore/oilcore-undocumented.txt
/docs/oilcore/oilcore-unused.txt
/docs/oilcore/oilcore.args
/docs/oilcore/oilcore.hierarchy
/docs/oilcore/oilcore.interfaces
/docs/oilcore/oilcore.prerequisites
/docs/oilcore/oilcore.signals
/docs/oilcore/scan-build.stamp
/docs/oilcore/sgml-build.stamp
/docs/oilcore/sgml.stamp
/docs/oilcore/tmpl-build.stamp
/docs/oilcore/tmpl.stamp
/docs/oilcore/xml/
/docs/oiltest/html.stamp
/docs/oiltest/html-build.stamp
/docs/oiltest/html/
/docs/oiltest/oiltest-decl-list.txt
/docs/oiltest/oiltest-decl.txt
/docs/oiltest/oiltest-undeclared.txt
/docs/oiltest/oiltest-undocumented.txt
/docs/oiltest/oiltest-unused.txt
/docs/oiltest/oiltest.args
/docs/oiltest/oiltest.hierarchy
/docs/oiltest/oiltest.interfaces
/docs/oiltest/oiltest.prerequisites
/docs/oiltest/oiltest.signals
/docs/oiltest/scan-build.stamp
/docs/oiltest/sgml-build.stamp
/docs/oiltest/sgml.stamp
/docs/oiltest/tmpl-build.stamp
/docs/oiltest/tmpl.stamp
/docs/oiltest/tmpl/
/docs/oiltest/xml/

