*~
tags
*.o
*.la
*.lo
*.a
Makefile
configure
Makefile.in
.deps
.libs
/stamp-h1
/ltmain.sh
/libtool
/autom4te.cache
/config.h
/aclocal.m4
/config.status
/config.log
/config.guess
/config.sub
/depcomp
/compile
/missing
/mkinstalldirs
/install-sh
/oilfuncs/oilfuncs.reg
/oilfuncs/oilfuncs_register_implements.c

